
.main-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.youtube-logo{
    width: 5rem;
    margin: auto 0;
}

.left-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.right-box{
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 1.5rem;
}

input{
    width: 65%;
    padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input:focus,
.input:valid {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sign-up-button{
    
        margin-top: 1.5rem;
       width: 200px;
      align-items: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
      box-sizing: border-box;
      color: #121212;
      cursor: pointer;
      display: inline-flex;
      flex: 1 1 auto;
      font-family: 'Roboto',sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      justify-content: center;
      line-height: 1;
      outline: none;
      padding: 1rem 1.2rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s,-webkit-box-shadow .2s;
      white-space: nowrap;
      border: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .sign-up-button:hover {
      box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    }
    
    @media screen and (max-width: 768px) {
        .main-box{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
      }
      .input-login{
        margin: 0 auto;
        
      }
      .sign-up-button{
         margin: 0 auto;
         margin-top: 10px;
         width: 200px;
      }
    }
      
      @media screen and (max-width: 480px) {
        .main-box{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
      }
      .input-login{
        margin: 0 auto;
      }
      .sign-up-button{
         margin: 0 auto;
         margin-top: 10px;
         width: 100px;
        
      }
    }

