.login-section{
    display: flex;
    align-items: center;

}


.logout-button{
    all: unset;
    cursor: pointer;
    margin-left: 1.3rem;
    background-color: black;
    padding: 0.5rem;
    border-radius: 5px;
}

.logout-button:hover{
    color:black;
    background-color: white;
}