.product-box{
    position: relative;
    

}
.image-home{
    width: 100%; 
    height: 400px;
    object-fit: cover;
    
    
}


.button-box{
    position:absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%); 


}