.header-product{
  text-align: center;
  letter-spacing: .2rem;
  margin-bottom: 4rem;
}
.products{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-bottom: 1rem;
    
}

.image-container {
    height: 200px; 
    width: 100%;
    overflow: hidden;
  }

.image-of-product{
    width: 45%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.name-of-product{
    text-align: center;

}

@media screen and (max-width: 768px) {
  /* For tablets */
  .product {
    width: 50%;
  }

  .image-of-product {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  /* For cellphones */
  .product {
    width: 100%;
  }

  .image-of-product {
    width: 80%;
  }
}