
.header{
    text-align: center;
    color:white;
    background-color: red; 
    
}

.title{
    padding-top: 3%;
    margin-top:0px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    
}

.subtitle{
    letter-spacing: .2rem;
    font-family: 'Roboto', sans-serif;
}